{% load board_tags %}


<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      {% block navbrand %}
        <a class="navbar-brand" href="{% url 'home' %}">Zenboard</a>
      {% endblock navbrand %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
          {% user_available_boards user as user_available_boards %}
          {% if user_available_boards %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="boardsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
              </a>
              <div class="dropdown-menu" aria-labelledby="boardsDropdown">
                {% for board in user_available_boards %}
                  <a class="dropdown-item" href="{{ board.get_absolute_url }}">{{ board.name }}</a>
                {% endfor %}
              </div>
            </li>
          {% endif %}
        </ul>

        {# Right side #}
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                  <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>Logout
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>Login
                </a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
