{% load humanize %}
{% load board_tags %}


<div class="card issue {% if not forloop.first %}mt-3{% endif %}"
     data-issue-url="{% url 'api:board-issue' pk=board.pk issue_number=issue.number %}"
     data-issue-number="{{ issue.number }}" data-toggle="modal" data-target="#issueDetails">
  <div class="card-body">
    <h6 class="mb-0">{{ issue.title }}</h6>
  </div>
  <div class="card-footer">
    {% issue_details board issue.number as issue_details %}
    <span class="d-block small"><b>Comments:</b> {{ issue_details.comments|length }}</span>
    <span class="d-block small"><b>Last updated:</b> <time datetime="{{ issue_details.updated_at|date:'c' }}">{{ issue_details.updated_at|naturaltime }}</time></span>

    {% if issue_details.progress is not None %}
      {# No 'percentage' template tag, let's go with 'widthratio' to multiply by 100 #}
      {% widthratio issue_details.progress 1 100 as progress %}
      <div class="progress mt-1">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
      </div>
    {% endif %}
  </div>
</div>
